.menu {
    position: sticky;
    top: 0;
    background-color: rgba(40,43, 41, .5);
    padding: 10px 0;
}

.menu_day {
    background-color: rgba(10,146, 253, 1);
}

.menu_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.theme {
    cursor: pointer;
    height: 2rem;
    width: 2rem;
}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
}

.menu__list__item {
    padding-right: 1rem;
}

.menu__list__item_color_light {
    color: #fff;
    font-weight: 600;
    
}