.container {
    width: 95%;
    margin: 0 auto;
}

/*RESPONSIVE*/
/*MOBILE*/
@media screen and (min-width: 800px){
    .container{
        width: 90%;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1400px){
    .container{
        width: 80%;
    }
}